In [3]:
#Import Pandas library
import pandas as pd

#Initialize Girls Data
girls_names = ['Evelyn', 'Jessica', 'Somto', 'Edith', 'Lisa', 
         'Madonna', 'Waje', 'Tola', 'Aisha', 'Latifa']

girls_age = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]

girls_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]

girls_score = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

#Use pandas to structure data in row format
gdf = pd.DataFrame({
    'Name': girls_names,
    'Age': girls_age,
    'Height': girls_height,
    'Score': girls_score
})

#Print Database
print('Computer Science Year 1 Girls Database')
print(gdf)

#Initialize Boys Data
boys_names = ['Chinedu', 'Liam', 'Wale', 'Gbenga', 'Abiola', 
         'Kola', 'Kunle', 'George', 'Thomas', 'Wesley']

boys_age = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]

boys_height = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]

boys_score = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

#Use pandas to structure boys data in row format
bdf = pd.DataFrame({
    'Name': boys_names,
    'Age': boys_age,
    'Height': boys_height,
    'Score': boys_score
})

#Print Database
print('\n\nComputer Science Year 1 Boys Database')
print(bdf)

Computer Science Year 1 Girls Database
      Name  Age  Height  Score
0   Evelyn   17     5.5     80
1  Jessica   16     6.0     85
2    Somto   17     5.4     70
3    Edith   18     5.9     60
4     Lisa   16     5.6     76
5  Madonna   18     5.5     66
6     Waje   17     6.1     87
7     Tola   20     6.0     95
8    Aisha   19     5.7     50
9   Latifa   17     5.5     49


Computer Science Year 1 Boys Database
      Name  Age  Height  Score
0  Chinedu   19     5.7     74
1     Liam   16     5.9     87
2     Wale   18     5.8     75
3   Gbenga   17     6.1     68
4   Abiola   20     5.9     66
5     Kola   19     5.5     78
6    Kunle   16     6.1     87
7   George   18     5.4     98
8   Thomas   17     5.8     54
9   Wesley   19     5.7     60

In [ ]:
print("Welcome to Izifin ATR Calculator")

staff_name = input('What is your full name: ')
staff_age = int(input('What is your age: '))
staff_y_o_e = int(input("How many year's of experience do you have: "))

if staff_y_o_e >= 25 and staff_age >= 55 :
    print(f"\n{staff_name}, your Annual Tax Revenue (ATR) is N5,600,000")
    print('Thanks for using Izifin ATR Calculator')

elif staff_y_o_e >= 20 and staff_age >= 45 :
    print(f"\n{staff_name}, your Annual Tax Revenue (ATR) is N4,480,000")
    print('Thanks for using Izifin ATR Calculator')

elif staff_y_o_e >= 10 and staff_age >= 35 :
    print(f"\n {staff_name}, your Annual Tax Revenue (ATR) is N1,500,000")
    print('Thanks for using Izifin ATR Calculator')

else :
    print(f"\n {staff_name}, your Annual Tax Revenue (ATR) is N550,000")
    print("Thanks for using Izifin ATR Calculator")

Welcome to Izifin ATR Calculator